<h1>Listing snippets</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Notes</th>
    <th>Language</th>
    <th>User</th>
    <th>Karma</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= snippet.title %></td>
    <td><%= snippet.body %></td>
    <td><%= snippet.notes %></td>
    <td><%= snippet.language %></td>
    <td><%= snippet.user_id %></td>
    <td><%= snippet.karma %></td>
    <td><%= link_to 'Show', snippet %></td>
    <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
    <td><%= link_to 'Destroy', snippet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snippet', new_snippet_path %>
